#hero{
    background-image: url("../img/skilift.jpg");
    height: 80vh;
    background-size: cover;
    background-position: center bottom;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;

h1{
    color: var(--white);
    margin: 0;
    font-size: rem-calc(50);

    span{
        color: rgba(255,255,255,0.25)
    }
}

button{
    border: none;
    background-color: brown;
    color: var(--white);
    padding: 25px 40px;
    border-radius: 8px;
    margin-top: 24px;
    font-size: rem-calc(30);
    cursor: pointer;
    }

}